@mixin contenedorG {
  height: 500px;
  width: 350px;
}
@mixin contenedorM {
  height: 500px;
  width: 300px;
  
}
@mixin contenedorMS {
    height: 500px;
    width: 270px;
   
}
@mixin contenedorS {
    height: 300px;
    width: 200px;
    margin-bottom: 10px;
    
}
@mixin contenedorSS {
    height: 300px;
    width: 340px;
    margin-bottom: 10px;
    
}