.creador {
  padding-top: 100px;
  color: white;
  padding-left: 20px;
}
.contenedor-nombre {
  align-items: center;
}
#nombre {
  width: 46vw;
  margin-left: 10px;
  height: 35px;
}
label {
  font-size: 25px;
}
#grupo,
#dia,
#hora {
  font-size: 20px;
}
.diasC {
  display: grid;
  grid-template-rows: repeat(1fr, 5);

  align-items: center;
}
.dias {
  height: 18px;
  width: 18px;
  margin-left: 20px;
}
img{
    margin:0 20px 0 20px ;
}
#iconos{
  img{
    height: 80px;
  }
}
.imagenes{
  border-radius: 15px;
 padding: 10px;
 margin-top: 20px;
 transition: .40s;
}
.imagenes:hover{
  cursor: pointer;
  background-color: rgba(76, 75, 75, 0.541);
  transform: scale(1.15);
  transition: .40s;
 
}

#grupo{
  text-align: center;
  width: 25%;
}
// 49 201 163