@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Space+Grotesk:wght@700&display=swap");
#aside {
  border-left: 10px solid rgb(205, 3, 3);
}
#aside h1 {
  font-size: 50px;
  text-align: center;
}
#aside ul {
  margin-top: 10px;
}
#aside ul .opciones {
  padding-left: 35px;
}
#aside ul #home {
  font-size: 35px;
}
#aside ul li {
  list-style: none;
  font-size: 17px;
  padding: 15px 0;
  font-family: "Outfit", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

.perfil {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.perfil li {
  list-style: none;
  padding: 0 !important;
}

.menuicons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.principalarriba {
  display: flex;
  align-items: center;
  justify-content: center;
}
.principalarriba .contenedor_centralA {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 15px;
  border: 2px solid black;
  border-radius: 20px;
  width: 70%;
  text-align: left;
}
.principalarriba .contenedor_centralA h1 {
  font-size: 45px;
}
.principalarriba .contenedor_centralA ul li {
  list-style: none;
  padding-left: 10px;
  font-family: "Outfit", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}
.principalarriba .contenedor_centralA ul li a {
  text-decoration: none !important; /* Elimina el subrayado */
  color: inherit !important; /* Utiliza el color heredado del elemento padre */
}
.principalarriba .contenedor_centralA li:hover {
  color: red !important;
  font-size: 104%;
}

.principalabajo {
  overflow: auto;
  width: 100%;
  height: 55vh;
}
.principalabajo .classContainers {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 30vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
}
.principalabajo .classContainers ul li {
  text-align: left;
  list-style: none;
  font-family: "Outfit", sans-serif;
}
.principalabajo .classContainers img {
  width: 43%;
}

input {
  height: 50px;
  width: 30vw;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 30px;
}

#navbusqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#seleccion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 20px;
  border: 3px solid green;
  height: 50px;
  width: 16vw;
  border-radius: 10px;
}

.tablas {
  margin-left: 10%;
  width: 80%;
}
.tablas #indiceTabla {
  font-size: 20px;
  border: 3px solid green;
  width: 25%;
}

#alumnosAdd {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#alumnosAdd table {
  width: 80% !important;
  margin-left: 10%;
  background-color: green;
}
#alumnosAdd table td {
  width: 25%;
  border: 1px solid #ccc;
  padding: 10px;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr 10fr;
}

aside {
  grid-row-start: 1;
  grid-row-end: 3;
}

#contenidoPrincipal {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  grid-row-start: 1;
  grid-row-end: 3;
}

/*# sourceMappingURL=maindocente.css.map */
